.login-bg {
  background-image: linear-gradient(#7577e57a, #e93af941);
  width: 30vw;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
}
.login-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.input-fild {
  border-radius: 10px;
}
