.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-bg {
  background-image: linear-gradient(yellow, yellowgreen);
  width: 70vh;
  border-radius: 25px;
}
